extends layout
block content 
  section(class="history-container")
    div(class="table-header")
      div(class="title-container")
        p Lista de #[strong personas]
      div(class="add-btn-box")
        button(class="add-btn" onclick="document.getElementById('modal_id').style.display='block'") Agregar
    
    div(class="search-box")
      form(class="search")
        input(type='text' placeholder='Buscar..' name='search')
        button(class=".btn(type='button')")
          i(class="fa fa-search")
    
    
    table(id="lista" class="table-container")
        thead
          tr
            th Nombre
            th Documento
            th Tipo
            th Placa
            th Descripcion
            th Fecha/Hora entrada
            th(class="sticky") Accion
        tbody(id="tbody_id")

  div(id="modal_id" class="modal")
    form(class="modal-box modal-anim" id="formRegistro")
      div(class="modal-content")
        div(class="pea-container" id="pea_info")
          label(class="title-bold" for='name') Nombre
          input(id="name" class="input-form" type='text' placeholder='Nombre' name='name' required) 
          label( class="title-bold" for='document') Documento
          input(id="doc" class="input-form" type='text' placeholder='Número de documento' name='doc' required)
        button(class="parking-btn" type='button' onclick='showHide("parking_info")') Parqueo
          span(class=".fas.fa-angle-down")
        div(id="parking_info" class=".parking-container")
          div(class="information")
            div(class="type-box")
              label(class="title-bold" for="type") Tipo
              select(name="type" id="type")
                option(value="Auto") Automovil
                option(value="Moto") Motocicleta
            div(class="placa-box")
              label(class="title-bold" for='placa') Placa
              input(id="placa" class="input-form" type='text' placeholder='Número de placa' name='placa' )
          label(class="title-bold" for='description') Descripcion
          textarea(id="description" class="description" name='description')
      div(class="modal-btns-box")
        button(class="cancel-btn" type='button' onclick="document.getElementById('modal_id').style.display='none'") Cancelar
        button(id="enter_btn" class="enter-btn" type='submit' onclick="document.getElementById('modal_id').style.display='none'") Guardar

  div(class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
    div(class="modal-dialog" role="document")
      div(class="modal-content")
        div(class="modal-header")
          h5(class="modal-title" id="exampleModalLabel") Actualizar
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        form(action="" method="post" name="formUpdate")
          div(class="modal-body")
            input(type="hidden" name="_id")
            input(type="text" name="nameU" placeholder="Nombre" class="form-control")
            input(type="text" name="docU" placeholder="Documento" class="form-control mt-1")
            input(type="text" name="typeU" placeholder="Vehiculo, motocicleta" class="form-control mt-2")
            input(type="text" name="placaU" placeholder="Numero de placa" class="form-control mt-3")
            input(type="text" name="descriptionU" placeholder="Descripcion" class="form-control mt-4")
          div(class="modal-footer")
            button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
            input(type="submit" value="Actualizar" class="btn btn-primary")
  