extends layout
block content 
  
  section(class="history-container")
    div(class="table-header")
      div(class="title-container")
        p Lista de #[strong personas]
      div(class="add-btn-box")
        button(class="add-btn" onclick="document.getElementById('modal_id').style.display='block', document.getElementById('formRegistro').reset()") Agregar
    
    div(class="search-box")
      form(class="search")
        input(type='text' placeholder='Buscar..' name='search')
        button(class=".btn(type='button')")
          i(class="fa fa-search")
    
    
    table(id="lista" class="table-container")
        thead
          tr
            th Nombre
            th Documento
            th Tipo
            th Placa
            th Descripcion
            th Fecha/Hora entrada
            th(class="sticky") Accion
        tbody(id="tbody_id")

  div(id="modal_id" class="modal")
    form(class="modal-box modal-anim" id="formRegistro")
      div(class="modal-content")
        div(class="pea-container" id="pea_info")
          label(class="title-bold" for='name') Nombre
          input(id="name" class="input-form" type='text' placeholder='Nombre' name='name' required) 
          label( class="title-bold" for='document') Documento
          input(id="doc" class="input-form" type='text' placeholder='Número de documento' name='doc' required)
        button(class="parking-btn" type='button' onclick='showHide("parking_info")') Parqueo
          span(class=".fas.fa-angle-down")
        div(id="parking_info" class=".parking-container")
          div(class="information")
            div(class="type-box")
              label(class="title-bold" for="type") Tipo
              select(name="type" id="type")
                option(value="Peaton") Peaton
                option(value="Auto") Automovil
                option(value="Moto") Motocicleta
            div(class="placa-box")
              label(class="title-bold" for='placa') Placa
              input(id="placa" class="input-form" type='text' placeholder='Número de placa' name='placa' )
          label(class="title-bold" for='description') Descripcion
          textarea(id="description" class="description" name='description')
      div(class="modal-btns-box")
        button(class="cancel-btn" type='button' onclick='hideModal("modal_id")') Cancelar
        button(id="enter_btn" class="enter-btn" type='submit' onclick='hideModal("modal_id")') Guardar

  div(id="modal_update" class="modal")
    form(class="modal-box modal-anim" id="modal_update_form" name="formUpdate")
      div(class="modal-content")
        input(type="hidden" name="_id")
        div(class="pea-container" id="pea_info")
          label(class="title-bold" for='name') Nombre
          input(id="nameU" class="input-form" type='text' placeholder='Nombre' name='nameU' required) 
          label( class="title-bold" for='document') Documento
          input(id="docU" class="input-form" type='text' placeholder='Número de documento' name='docU' required)
        button(class="parking-btn" type='button' onclick='showHide("parking_info_U")') Parqueo
          span(class=".fas.fa-angle-down")
        div(id="parking_info_U" class="parking-container")
          div(class="information")
            div(class="type-box")
              label(class="title-bold" for="type") Tipo
              select(name="typeU" id="typeU")
                option(value="Peaton") Peaton
                option(value="Auto") Automovil
                option(value="Moto") Motocicleta
            div(class="placa-box")
              label(class="title-bold" for='placa') Placa
              input(id="placaU" class="input-form" type='text' placeholder='Número de placa' name='placaU' )
          label(class="title-bold" for='description') Descripcion
          textarea(id="descriptionU" class="description" name='descriptionU')
      div(class="modal-btns-box")
        button(class="cancel-btn" type='button' onclick='hideModal("modal_update")') Cancelar
        input(type="submit" value="Actualizar" class="enter-btn" id="save_btn" onclick='hideModal("modal_update")')

  
  script(src='/javascripts/main.js')
  