header
    div(class="title-box")
        img(src="img/uca_white.png" alt="logo" class="logo")
<<<<<<< HEAD
        h1= title
=======
        h1="Sistema de Registro de visitas "
>>>>>>> 4ccc5ed459f9d909a05b654d3b97b2f3e815bcd6
    div(class="sesion-box")
        div(class="sesion")
            h3(class="hi") Bienvenido: 
            p(class="username" id="username") Usuario
        div(class="logout")
            a(href="/login")
                "Cerrar sesión" 
    div(class="sesion-btn")
        button(type="button" class="fas fa-user" onclick='showHide("sesion_list")')
        div(class="sesion-list" id="sesion_list")
            a(href="/login")
                "Cerrar sesión" 
