header
  .title-box
    img.logo(src='img/uca_white.png' alt='logo')
    h1 Historial de visitas
  .sesion-box
    .sesion
      h3.hi Bienvenido: 
      p#username.username Usuario
    .logout
      a(href='login.html') Cerrar sesion 
  .sesion-btn
    button.fas.fa-user(type='button' onclick='showHide("sesion_list")')
    #sesion_list.sesion-list
      a(href='login.html') Cerrar sesion