header
    div(class="title-box")
        img(src="img/uca_white.png" alt="logo" class="logo")
        h1= title
    div(class="sesion-box")
        div(class="sesion")
            h3(class="hi") Bienvenido: 
            p(class="username" id="username") Usuario
        div(class="logout")
            a(href="/login")
                "Cerrar sesión" 
    div(class="sesion-btn")
        button(type="button" class="fas fa-user" onclick='showHide("sesion_list")')
        div(class="sesion-list" id="sesion_list")
            a(href="/login")
                "Cerrar sesión" 
