header
  div(class="title-box")
    img(class="logo" src='img/uca_white.png' alt='logo')
    h1="Historial de visitas"
  div(class="sesion-box")
    div(class="sesion")
      h3class="hi") Bienvenido: 
      p(id="username" class="username") Usuario
    div(class="logout")
      a(href='login.html') Cerrar sesion
  div(class="sesion-btn")
    button(class="fas fa-user" type='button' onclick='showHide("sesion_list")')
    div(id="sesion_list" class="sesion-list")
      a(href='login.html') Cerrar sesion