doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title="Historial de visitas"
    link(rel='stylesheet', href='/stylesheets/sadmin-style.css')
    link(href="https://fonts.googleapis.com/css?family=Josefin+Sans|Montez&display=swap" rel="stylesheet")
    script(src="https://kit.fontawesome.com/07bd293ac9.js" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet")
    
  body
    include ./header.jade
    block content
    script(src='/javascripts/parqueo.js')
    


