doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title="Inicio sesi칩n"
    link(rel='stylesheet', href='/stylesheets/login-style.css')
    script(src='https://kit.fontawesome.com/07bd293ac9.js', crossorigin='anonymous')
    link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet")
  body
    block content
    div(class="container")
        img(class="bg-image" src="img/background.png")
        section(class="logo-box")
            img(src="img/logo-uca2.png"  alt="uca")
        section(class="login-box")
            form(action="main.html")
                img(src="img/logo_uca.png"  alt="uca" class="user")
                h1(style="font-size: 20sp" class="title")="Inicio de sesi칩n"
                br
                div(class="input-container")
                    div(class="icon")
                       i(class="fas fa-user")
                    div(class="input-text")
                        input(class="input" name="usuario" type="text" placeholder="Usuario")
                div(class="input-container")
                    div(class="icon")
                        i(class="fas fa-lock")
                    div(class="input-text")
                        input(class="input" name="contrase침a" type="password" placeholder="Contrase침a")
                input(type="submit" class="btn" value="Ingresar")
