extends layout
block content 
      section(class="history-container")
          div(class="table-header")
              div(class="title-container")
                  p Lista de #[strong personas]
              div(class="add-btn-box")
                  button(class="add-btn" onclick="document.getElementById('modal_id').style.display='block'") Agrega
          div(class="table-container")
                table(id="table_id" class="table")
                  thead
                      tr
                          th Nombre
                          th Documento
                          th Tipo
                          th Placa
                          th Descripcion
                          th Fecha/Hora entrada
                  tbody(id="tbody_id")
      div(id="modal_id" class="modal")
          form(class="modal-box modal-anim" id="Registro") 
              div(class="modal-content")
                  div(class="pea-container" id="pea_info")
                      label(class="title-bold" for='nombre') Nombre
                      input(id="nombre" class="input-form" type='text' placeholder='Nombre' name='nombre' required) 
                      label( class="title-bold" for='documento') Documento
                      input(id="documento" class="input-form" type='text' placeholder='Número de documento' name='documento' required)
                  button(type="button" class="parking-btn" onclick='showHide("parking_info")') Parqueo
                    span(class="fas fa-angle-down")
                  div(class="parking-container" id="parking_info")
                    div(class="information")
                          div(class="type-box")
                              label(class="title-bold" for="tipo") Tipo
                              select(name="tipo" id="tipo")
                                  option(value="Auto") Automovil
                                  option(value="Moto") Motocicleta
                          div(class="placa-box")
                              label(for="placa" class="title-bold") Placa
                              input(class="input-form" type="text" placeholder="Número de placa" id="placa" name="placa")
                      label(class="title-bold" for="descripcion") Descripción
                      textarea(class="description" id="descripcion" name="descripcion")
              div(class="modal-btns-box")
                  button(type="button" class="cancel-btn" onclick="document.getElementById('modal_id').style.display='none'") Cancelar
                  button(class="enter-btn" id="enter_btn" type="submit" onclick="document.getElementById('modal_id').style.display='none'") Guardar
      
      script(src='/javascripts/main2.js')

      